<!-- <h1>{{pageTitle}}</h1>
<img [src]="imgUrl" alt="img" width="500"height="300">  
<div>
    <button (click)="count()"> submit</button>
    <div *ngIf="abc!=0">
{{abc}}
    </div>
</div>
 <div>
     <input type="text" [(ngModel)]="name"> 
    Welcome  {{name}}
 </div>
 
    <input type="text" [(ngModel)]="name" > 
    Welcome  {{name}}

    <br>
    <input type="text" [ngModel]="username" (ngModelChange)="onchange($event)"> 
    Welcome  {{username}}
<br> -->


<input #nameRef type="text"  [(ngModel)]="customername" > 
Welcome  {{customername}}